.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

/* 换行 */
.flex-wrap-wrap {
  flex-wrap: wrap;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.p-0 {
  padding: 0 !important;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-16 {
  padding-right: 16px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.m-16 {
  margin: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.relative {
  position: relative;
}

.mask-full {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.xj-division-line {
  color: #999;
  font-size: 14px;
  margin: 8px 0;
  display: flex;
}

.xj-division-line::after,
.xj-division-line::before {
  content: '';
  flex: 1;
  border-top: 1px solid #aaa;
  transform: translateY(49%);
}

.xj-division-line::before {
  margin-right: 20px;
}

.xj-division-line::after {
  margin-left: 20px;
}

.xj-font-danger {
  color: #F56C6C;
}

.xj-font-success {
  color: #67C23A;
}

.xj-font-warning {
  color: #E6A23C;
}

.xj-font-info {
  color: #909399;
}

.xj-font-primary {
  color: #409EFF;
}

.xj-border-danger {
  border-color: #F06060;
}

.xj-border-success {
  border-color: #60b230;
}

.xj-border-warning {
  border-color: #E09230;
}

.xj-border-info {
  border-color: #808389;
}

.xj-border-primary {
  border-color: #308EeF;
}

.xj-danger {
  background-color: #F56C6C;
}

.xj-success {
  background-color: #67C23A;
}

.xj-warning {
  background-color: #E6A23C;
}

.xj-info {
  background-color: #909399;
}

.xj-primary {
  background-color: #409EFF;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(245, 245, 245);
  background-color: rgba(0,0,0,.2);
}